.header__wrapper {
    background-color: $color-background-body;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 90px;
    @extend %transition;
}

.logo {
    display: flex;
    margin: 20px 0;
    &-dark {
        fill: $color-text-dark;
    }
}

.logo {
    & path {
        @extend %transition;
    }
}

.header__navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
    @include media-burger {
        margin-right: 0;
        margin-left: 0; 
        transform: translateX(100%);
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 90px); 
        background-color: $color-background-body;
        z-index: 3;
        position: fixed;
        top: 90px;
        right: 0;
        padding-bottom: 40px;
        overflow-y: auto;
    }
}

.header__navigation.active {
    @include media-burger {
        transform: translateX(0);
    }
}

.header__navigation.menu-animated {
    @extend %transition;
}

.navigation {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: clamp(20px, 2.5vw, 40px);
    padding: 0;
    @extend %transition;
    @include media-burger {
        flex-grow: 0;
        @include font ($size: 3.2rem, $height: 4rem, $weight: 600);
        background-color: $color-background-body;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 100px;
        margin-top: 60px;
        gap: 60px;
    }
}

.header__spacer {
    flex-grow: 1; 
    max-width: 155px; 
    min-width: 20px;
    @include media-burger {
        display: none;
    }
}

.navigation__link {
    white-space: nowrap;
    color: $color-text-dark;
    cursor: pointer;
    padding-bottom: 5px;
    text-decoration: none;
    @extend %transition;
    border-bottom: 2px solid $color-background-body;
    @media (hover: hover) {
        &:hover {
            border-bottom: 2px solid $color-text-dark;
        }
    }
}

.theme__switch {
    position: absolute;
    right: 110px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    height: 44px;
    width: 88px;
    display: flex;
    margin-right: clamp(15px, 2vw, 25px);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid $color-border-light;
    border-radius: 100px;
    @extend %transition;
    cursor: pointer;
    @media (hover: hover) {
        &:hover {
            .theme__icon_dark {
                background-color: $color-border-dark;
                &.active {
                    & svg path {
                        stroke: $color-border-light;
                    }
                }
            }
        }
    }
    @include media-burger {
        height: 52px;
        width: 104px;
        gap: 12px;
    }
    @include media-mobile {
        right: 70px;
    }

    [data-theme="dark"] & {
        border-color: $color-border-dark;
        .theme__icon_dark {
            background-color: $color-text-accent;
        }
        .theme__icon_light {
            background-color: $color-background-body;
        }
        @media (hover: hover) {
            &:hover {
                .theme__icon_dark {
                    background-color: $color-text-accent;
                }
                .theme__icon_light {
                    background-color: $color-background-container;
                }
            }
        }
    }
}

.theme__icon {
    @extend %transition;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    &_light {
        background-color: $color-text-accent;
        border-radius: 100px;
    }
    &_dark {
        border-radius: 100px;
    }
}

.menu__logo {
    display: flex;
    align-items: center;
    height: 32px;
    text-decoration: none;
    @extend %transition;
    border-bottom: 2px solid $color-background-body;
    @media (hover: hover) {
        &:hover {
            border-bottom: 2px solid $color-text-dark;
        }
    }
    &_active {
        border-bottom: 2px solid $color-text-dark;
        cursor: default;
    }
    @include media-burger {
        background-color: $color-background-body;
        @include font ($size: 3.2rem, $height: 4rem, $weight: 600);
        width: 140px;
        margin: 0 auto;
        height: auto;
    }
}

.menu__logo__text {
    color: $color-text-dark;
    margin: 0 9px 2px 0;
    @include media-burger {
        margin: 0 18px 2px 0;
    }
}

.menu__logo__icon {
    margin-bottom: 4px;
    @include media-burger {
        margin-left: -3px;
       width: 40px;
       height: 40px;
    }
    & path {
        stroke: $color-text-dark;
    }
}